body {
  background-color: rgb(141, 141, 141);
  color: rgb(0, 177, 201);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.intro {
  text-align: center;
  margin-top: 100px;
}

.intro h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff;
}

.intro p {
  font-size: 1.2em;
  color: #ccc;
}

.get-started-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.get-started-button:hover {
  background-color: #0056b3;
}
