body {
  background-color: rgb(141, 141, 141);
  color: rgb(0, 177, 201);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 70px;
  padding-top: 20px;
}

.left {
  left: 0;
  border-right: 1px solid #ccc;
}

.right {
  right: 0;
}

form {
  text-align: center;
  padding: 10%;
}

input {
  margin: 10px;
  border-radius: 5px;
  border: 0;
  height: 30px;
}

::placeholder {
  text-align: center;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 0;
  margin: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

button:hover {
  animation: move 0.5s ease forwards;
}

#signupButton {
  color: blue;
  background-color: aqua;
}

#loginButton {
  color: white;
  background-color: blue;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
