body {
  background-color: rgb(141, 141, 141);
  color: rgb(0, 177, 201);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 70px;
  align-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 70px;
  padding-top: 20px;
}

.left {
  left: 0;
  border-right: 1px solid #ccc;
}

.right {
  right: 0;
}

form {
  text-align: center;
  padding: 10%;
}

input {
  margin: 10px;
  border-radius: 5px;
  border: 0;
  height: 30px;
}

::placeholder {
  text-align: center;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  border: 0;
  margin: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

button:hover {
  animation: move 0.5s ease forwards;
}

#signupButton {
  color: blue;
  background-color: aqua;
}

#loginButton {
  color: white;
  background-color: blue;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
