body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

::placeholder {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.header-container button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-container button:hover {
  background-color: #555;
}

.main-container {
  display: flex;
  height: calc(100vh - 60px);
}

#profile {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  height: 750px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userInfo {
  position: absolute;
  left: 50px;
  align-items: center;
  text-align: center;
  align-content: center;
  flex: 1;
}

#userInfo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.change-section input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.change-section button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.change-section button:hover {
  background-color: #0056b3;
}

#deleteUser {
  background-color: #dc3545;
  margin-top: 20px;
}

#deleteUser:hover {
  background-color: #c82333;
}

#changeInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 40px;
  flex: 1;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 70%;
  z-index: 9;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  height: 700px;
}

.profile-section {
  flex: 1;
  padding: 20px;
}

.profile-container h1,
.profile-container h3 {
  color: #333;
}

.profile-container button,
.profile-container input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profile-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-container button:hover {
  background-color: #0056b3;
}

#chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 15%;
}

#chats input,
#chats button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#friends {
  display: none;
}

#friends input {
  width: 130px;
}

#searchButton {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #218838;
}

#friendsList {
  list-style-type: none;
  padding: 0;
}

#friendsList li {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#friendsList li:hover {
  background-color: #0056b3;
}

#profileBtn {
  border-radius: 50%;
  border: none;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#profile {
  display: none;
}

#profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#profile h3 {
  margin: 0;
}

#profile button {
  display: block;
  width: 50%;
  margin-top: 10px;
}

#pfp {
  background-color: transparent;
  cursor: default;
}

.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.tab-list li {
  padding: 10px 15px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-list li:hover {
  background-color: #0056b3;
}

.tab-list .close-tab {
  margin-left: 10px;
  cursor: pointer;
}

.tab-list .close-tab:hover {
  color: #ff0000;
}

.chatbox-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  background-color: #fff;
}

.chat-title {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}

.chat-input-container input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input-container button:disabled {
  background-color: #ccc;
}

.chat-input-container button:hover:not(:disabled) {
  background-color: #0056b3;
}
